<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отображение человека</title>
</head>
<body>
    <form th:method="POST" th:action="@{/people/delete/{id}(id=${person.getPersonId()})}">
        <p th:text="${'id: ' + person.getPersonId()}"></p>
        <p th:text="${'ФИО: ' + person.getFullName()}"></p>
        <p th:text="${'Год рождения: ' + person.getYearOfBirth()}"></p>

        <div th:if="${books != null}">
            <p>Книги, взятые этим человеком:</p>
            <p th:each="book : ${books}" th:text="${book.getBookName()}"></p>
        </div>
        <span th:unless="${books}">Человек не взял ни одной книги</span>
        <br>
        <br>
        <button><a th:href="@{/people/edit/{id}(id=${person.getPersonId()})}">Изменить человека:</a></button>
        <br>
        <br>
        <input type="submit" value="Удалить человека">
    </form>
</body>
</html>