<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О книге</title>
</head>
<body>
  <p th:text="${book.getBookName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>
  <div th:if="${book.getPersonId()} == 0">
    <form th:method="POST" th:action="@{/books/addPersonToBook/{id}(id=${book.getBookId()})}">
    <p>Эта книга свободна. Кому её назначить?</p>
    <select th:object="${nullPerson}" th:field="*{personId}">
      <option th:each="person : ${people}" th:value="${person.getPersonId()}" th:text="${person.getFullName()}"></option>
    </select>
    <button type="submit">Назначить</button>
    </form>
  </div>
  <form th:method="POST" th:action="@{/books/freeBook/{id}(id=${book.getBookId()})}">
    <div th:unless="${book.getPersonId() == 0}">
      <p th:text="'Эта книга сейчас у: ' + ${getBook.getFullName()}"></p>
      <button type="submit">Освободить книгу</button>
    </div>
  </form>
  <hr>
  <button><a th:href="@{/books/edit/{id}(id=${book.getBookId()})}">Редактировать книгу</a></button>
  <br>
  <br>
  <button><a th:href="@{/books/delete/{id}(id=${book.getBookId()})}">Удалить книгу</a></button>
</body>
</html>